<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nipoow new Register</title>
</head>
<body>
    <h1>従業員 新規登録ページ</h1>
    <form method="post" th:action="@{/employee/register}" th:object="${employee}">
         <!-- 認証エンティティ -->
        <p>社員番号</p>
        <input type="text" th:field="*{authentication.code}">
        <p>氏名</p>
        <input type="text" th:field="*{name}">
        <!-- 認証エンティティ -->
        <p>パスワード</p>
        <!--  保存の書き方？？ -->
       <input type="text" th:field="*{authentication.password}"> 
        
        <!-- 認証エンティティ -->
        <p>権限</p>
       　　 <select th:field="*{authentication.role}">
            <option value="" th:text="選択してください">
            <option th:each="item:${T(com.techacademy.entity.Authentication.Role).values()}" th:value="${item}" th:text="${item}">
        　　</select> 
        <br>
        <br>
       <!-- 登録日時、更新日時のテーブル登録の処理?? -->
      　<!-- <p th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" th:field="*{createdAt}" ></p> -->
        <!-- <p th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" th:field="*{updatedAt}"></p>  -->
        <input type="submit" value="投稿">
        <p><a th:href="@{/employee/list}">一覧に戻る</a></p>
    </form>
</body>
</html>