<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nipoow Employee Update</title>
</head>
<body>
    <h1>id:<span th:text="${employee.id}"></span>の従業員情報 編集ページ</h1>
    <p>(パスワードは変更する場合のみ入力してください)</p>
    <form method="post" th:action="@{/employee/update/{id}/(id=${employee.id})}" th:object="${employee}">
        <input type="hidden" id="id" name="id" th:value="*{id}">
        <p>社員番号</p>
        <p th:text="*{authentication.code}"></p>
        <input type="hidden" th:field="*{authentication.code}">
        
        <label for="name">氏名</label>
        <input type="text" th:field="*{name}" required="required">
        <span th:errors="*{name}" class="err"></span>
        <br>
        <br>
        
        <label for="authentication.password">パスワード</label>
        <input type="password" th:field="*{authentication.password}" th:errorclass="err"> 
        <span th:errors="*{authentication.password}" class="err"></span>
       
        <p>権限</p>
       　　 <select th:field="*{authentication.role}" th:errorclass="err">
            <option th:each="item:${T(com.techacademy.entity.Authentication.Role).values()}" th:value="${item}" th:text="${item}" 
                    th:selected="*{authentication.role} == ${item}">>
        　　</select> 
        <span th:errors="*{authentication.role}" class="err"></span>
         
        <input type="hidden" th:field="*{createdAt}">
        <input type="hidden" th:field="*{updatedAt}">
        <br>
        <br>
        <input type="submit" value="投稿">
     </form>   
     <!-- ここわからなかったポイント; hiddenの役割→あたいの受け渡し -->
     <form method="post" th:action="@{/employee/delete/{id}/(id=${employee.id})}" th:object="${employee}">
            <input type="hidden" name="id" th:value="*{id}" >
            <input type="hidden" th:field="*{name}">
            <input type="hidden" th:field="*{authentication.code}">
            <input type="hidden" th:field="*{authentication.password}" > 
            <input type="hidden" th:field="*{authentication.role}">
            <input type="submit" name="delete" value="削除">
     </form>
        <p><a th:href="@{/employee/list}">一覧に戻る</a></p>
    
</body>
</html>